# Flutter/Android 编译生成的垃圾文件
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
architecture.md

# Android 特定垃圾文件
.gradle/
local.properties
*.iml
.idea/
captured_media/
**/app/build/

# Python 垃圾文件
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# 操作系统文件
.DS_Store
Thumbs.db
